{% extends 'base.html' %}

{% block body %}

<div class="jumbotron bg-dark text-white">
    <img src="{{ url_for('static', filename='images/img1.svg') }}" class="illustration i1" alt="" height="600">
    <div class="container">
        <center>
            <h1>Task Master</h1>
            <br>
            <form action="/" method="POST" class="form">
                <div class="row">
                    <div class="col-md-4 col-sm-1"></div>
                    <div class="form-group col-sm-9 col-md-3">
                        <input id="content" class="form-control bg-dark text-white" type="text" name="content"
                            placeholder="Enter a new task here . . .">
                    </div>
                    <div class="col-sm-3 col-md-1">
                        <input type="Submit" value="Add Task" class="btn btn-secondary">
                    </div>
                </div>
            </form>
            <div class="head">
                <h5>Pending</h5>
            </div>
            
            <table class="table table-borderless text-white">
                <tr>
                    <th>Task</th>
                    <th>Added</th>
                    <th>Action</th>
                </tr>
                {% for task in taskspending %}
                <tr>
                    <td>{{ task.content }}</td>
                    <td>{{ task.date_created.date() }}</td>
                    <td>
                        <a href="/markasdone/{{ task.id }}">
                            <i class="fas fa-check"></i>
                        </a>
                        <a href="/delete/{{ task.id }}">
                            <i class="fas fa-trash"></i>
                        </a>
                        <a href="/update/{{ task.id }}">
                            <i class="fas fa-edit"></i>
                        </a>
                        
                    </td>
                </tr>
                {% endfor %}
            </table>
            <div class="head">
                <h5>Completed</h5>
            </div>
            <table class="table table-borderless text-white">
                <tr>
                    <th>Task</th>
                    <th>Added</th>
                    <th>Action</th>
                </tr>
                {% for task in taskscompleted %}
                <tr>
                  
                    <td><strike>{{ task.content }}</strike></td>
                    <td><strike>{{ task.date_created.date() }}</strike></td>
              
                    <td>
                        <a href="/markasundone/{{ task.id }}">
                            <i class="fas fa-times"></i>
                        </a>
                        <a href="/delete/{{ task.id }}">
                            <i class="fas fa-trash"></i>
                        </a>
                        <a href="/update/{{ task.id }}">
                            <i class="fas fa-edit"></i>
                        </a>
                        
                    </td>
                </tr>
                {% endfor %}
            </table>

        </center>

    </div>

</div>

{% endblock %}
