* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border-radius: 0;
}

body {
    height: 100vh;
    width: 100vw;
    background: #3f3d56;
}

.jumbotron.bg-dark.text-white {
    border-radius: 0;
    z-index: 0;
}

.head {
    padding: 1px;
    background-color: white;
    width: 48%;
}

h5 {
    color: #3F3D56;
}

.btn-secondary {
    background: rgba(255, 255, 255, 0.9);
    color: #3f3d56
}

.btn-secondary:hover {
    background: #3f3d56;
    border: 1px solid white
}

.bg-dark {
    background: #3f3d56 !important;
}

.illustration {
    position: absolute;
    left: -200px
}

.table {
    max-width: 500px;
}

a i {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.7);
    padding: 5px 10px;
}

a i:hover {
    color: rgba(255, 255, 255, 1);
}